@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

/* Hide number input spin buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
